<h1>Department</h1>

<input type="text" [(ngModel)]="departmentName" placeholder="Enter Class Name">

<button (click)="saveDepartment()">{{editingId?'Update Department':'Add Departmenmt'}}</button>

<table>
    <tr>
        <th>Department Name</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let item of departments">
        <td>{{item.departmentName}}</td>
        <td>
            <button (click)="editDepartment(item)">Edit</button>
            <button (click)="deleteDepartment(item.departmentId)">Delete</button>
        </td>

    </tr>
</table>